[submodule "ncon"]
	path = ncon
	url = https://github.com/mhauru/ncon
[submodule "tensors"]
	path = tensors
	url = https://github.com/mhauru/tensors
[submodule "tn-tools"]
	path = tn-tools
	url = https://github.com/mhauru/tn-tools
